<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gradebook.DataAccessLayer.DataSeeder.Properties.Settings.GradebookDbConnection"
            connectionString="Data Source=DESKTOP-39lugd9;Initial Catalog=Max.Gradebook;Integrated Security=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>